{% extends 'base.html' %}
{% block title %}Все опросы{% endblock %}

{% block content %}
    <div class="information">
        <h1>О проекте:</h1>
        <br>
        <p>Здесь реализован не весь функционал из задания</p>
        <br>
        <hr>
        <br>
        <h3>Присутствуют:</h3>
        <br>
        <ul>
        <li>Авторизация пользователей(как админ, так и юзер), но с регистрацией.</li>
        <li>Добавление/изменение/удаление опросов, вопросов и ответов</li>
        <li>Получение списка активных вопросов</li>
        <li>Прохождение опросов с сохранением данных в бд</li>
        </ul>
        <br>
        <hr>
        <br>
        <h3>Отсутсвуют:</h3>
        <br>
        <ul>
            <li>Возможность просмотра пройденных опросов (можно посмотреть только сразу после прохождения, если пользователь пройдет тест во второй раз, то показываются ответы за оба прохождения)</li>
            <li>Анонимное прохождение опросов</li>
            <li>Блокирование поля "дата старта" после после создания опроса</li>
        </ul>
        <br>
        <hr>
        <br>
        <h3>Использование:</h3>
        <br>
        <ul>
         <li>В таблице "Опросы" можно создавать опрос, добавлять всю информацию о нем и так же добавлять связынные с ним вопросы</li>
         <li>В таблице "Вопросы" можно добавить варианты ответов к вопросам</li>
         <li>Данные по прохождению опроса добавляются в таблицу "Ответы", каждый вариант связан с вопросом и авторизованным пользователем</li>
        </ul>
        <br>
        <hr>
    </div>
{% endblock %}